.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
}

.App-input {
  width: 60vmin;
  height: 5vmin;
  font-size: 1em;
  margin: 3vmin;
}

.App-submit{
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 0.8em;
  color: #FFFFFF;
  transition: all .4s ease;

}
